/* 
   Some simple Github-like styles, with syntax highlighting CSS via Pygments.
*/
/*body{
	font-family: helvetica, arial, freesans, clean, sans-serif;
	color: #333;
	background-color: #fff;
	border: none;
	line-height: 1.5;
	margin: 2em 3em;
	text-align:left;
}*/
pre{
	background-color: #eee;
	padding: 10px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	overflow: auto;
}
code{
	background-color: #eee;
	padding: 1px 3px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;	
}

.shadow{
	-webkit-box-shadow:0 5px 15px #000;
	-moz-box-shadow:0 5px 15px #000;
	box-shadow:0 5px 15px #000;		
}


.hll { background-color: #ffffcc }
.c { color: #888888 } /* Comment */
.err { color: #a61717; background-color: #e3d2d2 } /* Error */
.k { color: #008800; font-weight: bold } /* Keyword */
.cm { color: #888888 } /* Comment.Multiline */
.cp { color: #cc0000; font-weight: bold } /* Comment.Preproc */
.c1 { color: #888888 } /* Comment.Single */
.cs { color: #cc0000; font-weight: bold; background-color: #fff0f0 } /* Comment.Special */
.gd { color: #000000; background-color: #ffdddd } /* Generic.Deleted */
.ge { font-style: italic } /* Generic.Emph */
.gr { color: #aa0000 } /* Generic.Error */
.gh { color: #303030 } /* Generic.Heading */
.gi { color: #000000; background-color: #ddffdd } /* Generic.Inserted */
.go { color: #888888 } /* Generic.Output */
.gp { color: #555555 } /* Generic.Prompt */
.gs { font-weight: bold } /* Generic.Strong */
.gu { color: #606060 } /* Generic.Subheading */
.gt { color: #aa0000 } /* Generic.Traceback */
.kc { color: #008800; font-weight: bold } /* Keyword.Constant */
.kd { color: #008800; font-weight: bold } /* Keyword.Declaration */
.kn { color: #008800; font-weight: bold } /* Keyword.Namespace */
.kp { color: #008800 } /* Keyword.Pseudo */
.kr { color: #008800; font-weight: bold } /* Keyword.Reserved */
.kt { color: #888888; font-weight: bold } /* Keyword.Type */
.m { color: #0000DD; font-weight: bold } /* Literal.Number */
.s { color: #dd2200; background-color: #fff0f0 } /* Literal.String */
.na { color: #336699 } /* Name.Attribute */
.nb { color: #003388 } /* Name.Builtin */
.nc { color: #bb0066; font-weight: bold } /* Name.Class */
.no { color: #003366; font-weight: bold } /* Name.Constant */
.nd { color: #555555 } /* Name.Decorator */
.ne { color: #bb0066; font-weight: bold } /* Name.Exception */
.nf { color: #0066bb; font-weight: bold } /* Name.Function */
.nl { color: #336699; font-style: italic } /* Name.Label */
.nn { color: #bb0066; font-weight: bold } /* Name.Namespace */
.py { color: #336699; font-weight: bold } /* Name.Property */
.nt { color: #bb0066; font-weight: bold } /* Name.Tag */
.nv { color: #336699 } /* Name.Variable */
.ow { color: #008800 } /* Operator.Word */
.w { color: #bbbbbb } /* Text.Whitespace */
.mf { color: #0000DD; font-weight: bold } /* Literal.Number.Float */
.mh { color: #0000DD; font-weight: bold } /* Literal.Number.Hex */
.mi { color: #0000DD; font-weight: bold } /* Literal.Number.Integer */
.mo { color: #0000DD; font-weight: bold } /* Literal.Number.Oct */
.sb { color: #dd2200; background-color: #fff0f0 } /* Literal.String.Backtick */
.sc { color: #dd2200; background-color: #fff0f0 } /* Literal.String.Char */
.sd { color: #dd2200; background-color: #fff0f0 } /* Literal.String.Doc */
.s2 { color: #dd2200; background-color: #fff0f0 } /* Literal.String.Double */
.se { color: #0044dd; background-color: #fff0f0 } /* Literal.String.Escape */
.sh { color: #dd2200; background-color: #fff0f0 } /* Literal.String.Heredoc */
.si { color: #3333bb; background-color: #fff0f0 } /* Literal.String.Interpol */
.sx { color: #22bb22; background-color: #f0fff0 } /* Literal.String.Other */
.sr { color: #008800; background-color: #fff0ff } /* Literal.String.Regex */
.s1 { color: #dd2200; background-color: #fff0f0 } /* Literal.String.Single */
.ss { color: #aa6600; background-color: #fff0f0 } /* Literal.String.Symbol */
.bp { color: #003388 } /* Name.Builtin.Pseudo */
.vc { color: #336699 } /* Name.Variable.Class */
.vg { color: #dd7700 } /* Name.Variable.Global */
.vi { color: #3333bb } /* Name.Variable.Instance */
.il { color: #0000DD; font-weight: bold } /* Literal.Number.Integer.Long */

/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /*! normalize.css v4.0.0 | MIT License | github.com/necolas/normalize.css */progress,sub,sup{vertical-align:baseline}button,hr,input,select{overflow:visible}[type=checkbox],[type=radio],legend{box-sizing:border-box;padding:0}#sidenav,[hidden],template{display:none}#sidenav a,.slideout-open #sidenav,article,aside,details,figcaption,figure,footer,header,main,menu,nav,section,summary{display:block}#sidenav a,h1,h2,h3,h4,h5,h6{color:#212121}footer a,mark{color:#000}#container,body{min-height:100vh}body{margin:0;-webkit-tap-highlight-color:#BBDEFB}header .header-wrapper,main{display:-webkit-flex;display:-ms-flexbox;display:-webkit-box;-webkit-align-items:center}audio,canvas,progress,video{display:inline-block}audio:not([controls]){display:none;height:0}a{background-color:transparent;color:#1976D2}a:active,a:hover{outline-width:0}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:bolder}dfn{font-style:italic}mark{background-color:#ff0}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative}sub{bottom:-.25em}sup{top:-.5em}img{border-style:none}#sidenav li,header{border-bottom:1px solid #DCDCDC}#sidenav li:nth-child(1),footer{border-top:1px solid #DCDCDC}svg:not(:root){overflow:hidden}code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em}figure{margin:1em 40px}hr{box-sizing:content-box;height:0}button,input,select,textarea{font:inherit;margin:0}optgroup{font-weight:700}h1,h2{font-weight:300}button,select{text-transform:none}[type=reset],[type=submit],button,html [type=button]{-webkit-appearance:button}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}button:-moz-focusring,input:-moz-focusring{outline:ButtonText dotted 1px}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em}legend{color:inherit;display:table;max-width:100%;white-space:normal}textarea{overflow:auto}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::selection{background:#BBDEFB}::-moz-selection{background:#BBDEFB}img::selection{background:0 0}img::-moz-selection{background:0 0}html{-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;font-family:Raleway,sans-serif}:root{font-size:12px}@media (min-width:480px){:root{font-size:12px}}@media (min-width:760px){:root{font-size:12px}}@media (min-width:1200px){:root{font-size:12px}}h1{margin:.67em 0;font-size:2.5em;line-height:1.09}h2{font-size:2em;line-height:1.05}h3{font-size:1.7em;line-height:1.38}p{font-size:1.25em;line-height:1.25;font-weight:400;letter-spacing:.1em;margin:0 0 .75em}#container{background:#fff}.container{padding:30px 15px}section{margin-bottom:50px}main{display:flex;-ms-flex-align:center;align-items:center}#sidenav{position:fixed;left:0;top:0;bottom:0;right:0;z-index:0;width:200px;overflow-y:auto;-webkit-overflow-scrolling:touch;background-color:rgba(241,240,240,.75)}.slideout-open,.slideout-open .slideout-panel,.slideout-open body{overflow-x:hidden}#sidenav h1{text-align:center}#sidenav ul{list-style:none;margin:0;padding:0;width:100%;position:absolute;top:45%;-webkit-transform:translateY(-50%);transform:translateY(-50%)}#sidenav a{text-decoration:none;padding:10px 30px;font-size:1.5em}#sidenav a:hover{background-color:#BBDEFB}header{padding:15px}header .header-wrapper{max-width:960px;margin:0 auto;display:flex;-ms-flex-align:center;align-items:center}header i{margin:0 30px 0 0;cursor:pointer}header h1{font-weight:300;margin:0}footer .social,header .avatar{margin-left:auto}header .avatar{border:1px solid #DCDCDC;border-radius:50%;overflow:hidden}header img{width:50px;height:50px;display:block}footer{display:-webkit-flex;display:-ms-flexbox;display:-webkit-box;display:flex;-webkit-align-items:center;-ms-flex-align:center;align-items:center;padding:15px}footer span{font-size:21.6px;font-size:1.8rem}footer i{margin:0 15px 0 0}.underline{padding:0 0 10px;border-bottom:2px solid #BBDEFB;display:inline-block}#container,.container{display:-webkit-flex;display:-ms-flexbox;display:-webkit-box}.container{max-width:960px;margin:0 auto;display:flex;-webkit-justify-content:space-between;-ms-flex-pack:justify;justify-content:space-between;-webkit-flex-direction:column;-ms-flex-direction:column;flex-direction:column}.about{max-width:300px}.posts{margin-left:0}#container{position:relative;z-index:1;display:flex;-webkit-flex-direction:column;-ms-flex-direction:column;flex-direction:column}main{-webkit-flex:1;-ms-flex:1;flex:1}@media (min-width:760px){.container{-webkit-flex-direction:row;-ms-flex-direction:row;flex-direction:row}.posts{margin-left:100px}}.contact input,.contact textarea{min-width:280px;padding:15px;box-sizing:border-box;margin:5px 0 20px;border:2px solid #DCDCDC}.contact input{width:100%;font-size:14.4px;font-size:1.2rem}.contact textarea{max-width:280px;min-height:100px;height:100%;font-size:14.4px;font-size:1.2rem}.contact label{font-size:15px;font-size:1.25rem}.contact button{background-color:transparent;border:2px solid #DCDCDC;padding:1em 3em;color:#727272;font-size:14.4px;font-size:1.2rem;cursor:pointer;transition:all .2s ease-in-out}.contact button:hover{background-color:#DCDCDC}.date{color:#727272}h2{margin:30px 0 10px}.post-show .post-title{text-align:center;margin:0 0 50px}.post-show .post-content{max-width:700px;margin:0 auto;text-align:justify}.post-show .other-post{display:-webkit-flex;display:-ms-flexbox;display:-webkit-box;display:flex;-webkit-justify-content:space-between;-ms-flex-pack:justify;justify-content:space-between;-webkit-flex-wrap:wrap;-ms-flex-wrap:wrap;flex-wrap:wrap}.post-show .other-post h3{width:100%}.post-show .other-post h2{display:inline-block;margin:0}

.post-title a{
	font-size: 1.5rem;
}

.post-title a:nth-child(3){
	margin-right: 30px;
}

.share{
	text-align: center;
}

.share h3{
	font-weight: 300;
}

.share a{
	font-size: 25px;
    color: #000;
    margin: 15px;
    cursor: pointer;
}